CREATING A SERIES

In [1]:
import pandas as pd
data=[1,2,3,4]
df=pd.Series(data)
print(df)

0    1
1    2
2    3
3    4
dtype: int64

creating a DataFrame

In [3]:
import pandas as pd
data={'name':["poojitha","chitti","kavati"],
      'age':[25,30,35],
             'city':['new york','los angles','chicago']
     }
df=pd.DataFrame(data)
print(df)

       name  age        city
0  poojitha   25    new york
1    chitti   30  los angles
2    kavati   35     chicago

READING DATA FROM FILES

In [2]:
import pandas as pd
df=pd.read_csv("/home/user/Downloads/transactions.csv")

In [9]:
import pandas as pd
df = pd.read_csv('/home/user/Downloads/transactions.csv')
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [10]:
import pandas as pd
df = pd.read_csv('/home/user/Downloads/transactions.csv')
print(df.tail())

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [11]:
import pandas as pd
df = pd.read_csv('/home/user/Downloads/transactions.csv')
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [12]:
import pandas as pd
df = pd.read_csv('/home/user/Downloads/transactions.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [13]:
import pandas as pd
df = pd.read_csv('/home/user/Downloads/transactions.csv')
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [15]:
import pandas as pd
df = pd.read_csv('/home/user/Downloads/transactions.csv')
print(df.iloc())

<pandas.core.indexing._iLocIndexer object at 0x7f8e806ae0d0>

In [18]:
import pandas as pd
df = pd.read_csv('/home/user/Downloads/transactions.csv')
print(df.iloc[1])

TransactionID               2
TransactionDate    2011-05-26
UserID                    3.0
ProductID                   4
Quantity                    1
Name: 1, dtype: object

In [21]:
import pandas as pd
df = pd.read_csv('/home/user/Downloads/transactions.csv')
print(df['Quantity'])

0    1
1    1
2    1
3    3
4    1
5    6
6    1
7    3
8    3
9    4
Name: Quantity, dtype: int64

Filtering Data

In [23]:
import pandas as pd
data={'name':["poojitha","chitti","kavati"],
      'age':[25,30,35],
             'city':['new york','los angles','chicago']
     }
df=pd.DataFrame(data)
print(df)

       name  age        city
0  poojitha   25    new york
1    chitti   30  los angles
2    kavati   35     chicago

In [28]:
import pandas as pd
df=pd.DataFrame(data)
filtered_df = df[df['age'] > 20]
print(filtered_df)

       name  age        city
0  poojitha   25    new york
1    chitti   30  los angles
2    kavati   35     chicago

Renaming Columns

In [30]:
df.rename(columns={'name':'Full Name','age':'Years'},
          inplace=True)
print(df)

  Full Name  Years        city
0  poojitha     25    new york
1    chitti     30  los angles
2    kavati     35     chicago

In [2]:
import pandas as pd
df=pd.read_csv('/home/user/Downloads/transactions.csv')
df.rename(columns={"Quantity":"Quant"},inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [33]:
import pandas as pd
data={'name':["poojitha","chitti","kavati"],
      'age':[25,30,35],
             'city':['new york','los angles','chicago']
     }
df=pd.DataFrame(data)
print(df)

       name  age        city
0  poojitha   25    new york
1    chitti   30  los angles
2    kavati   35     chicago

In [77]:
print(df.isnull().sum())

TransactionID      0
TransactionDate    0
UID                1
PID                0
Quantity           0
dtype: int64

In [35]:
df['age'].fillna(df['age'].mean(),inplace=True)

In [36]:
df.dropna(inplace=True)

Sorting the data

In [37]:
import pandas as pd
df=pd.read_csv('/home/user/Downloads/transactions.csv')
df_sorted=df.sort_values(by=["Quantity","TransactionDate"],
                         ascending=[True,False])
print(df_sorted.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1

Subsetting data

In [38]:
subset=df[df['Quantity']>1]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [39]:
subset_rows=df.iloc[[0,2,5]]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
5              6      2013-12-23     2.0          5         6

Subset rows where an external array, foo, is True

In [43]:
foo = [True, False, True, False] # Example of a boolean array
subset_rows = df[foo]
print(subset_rows)

ValueError: Item wrong length 4 instead of 10.

Subset by columns TransactionID and TransactionDate with
logical operator

In [44]:
subset = df[df['Quantity'] > 1][['TransactionID',
'TransactionDate']]
print(subset)

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

Subset columns by a variable list of column names

In [45]:
columns_to_select=['TransactionID','TransactionDate']
subnet_columns=df[columns_to_select]
print(subnet_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

Subset columns excluding a variable list of column names

In [46]:
columns_to_exclude = ['Quantity', 'ProductID']
subset_columns_excluded = df[[col for col in df.columns if col not
in columns_to_exclude]]
print(subset_columns_excluded)

   TransactionID TransactionDate  UserID
0              1      2010-08-21     7.0
1              2      2011-05-26     3.0
2              3      2011-06-16     3.0
3              4      2012-08-26     1.0
4              5      2013-06-06     2.0
5              6      2013-12-23     2.0
6              7      2013-12-30     3.0
7              8      2014-04-24     NaN
8              9      2015-04-24     7.0
9             10      2016-05-08     3.0

Convert the TransactionDate column to type Date

In [47]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
dtype: object

Insert a new column, Foo = UserID + ProductID

In [55]:
df['Foo']=df['UserID']+df['ProductID']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo
0              1      2010-08-21     7.0          2         1  9.0
1              2      2011-05-26     3.0          4         1  7.0
2              3      2011-06-16     3.0          3         1  6.0
3              4      2012-08-26     1.0          2         3  3.0
4              5      2013-06-06     2.0          4         1  6.0

Inserting a New Row

In [51]:
df.loc[len(df)] = [new_user_id, new_product_id, new_quantity,
new_transaction_date]
print(df.head())

NameError: name 'new_user_id' is not defined

Updating Existing Values

df.loc[df['UserID'] == 2, 'Quantity'] = new_quantity_value

Inserting a New Column

In [57]:
df['Foo'] = df['UserID'] + df['ProductID']

Modifying data frames

In [58]:
df['NewColumn']=df['Quantity']*2
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo  NewColumn
0              1      2010-08-21     7.0          2         1  9.0          2
1              2      2011-05-26     3.0          4         1  7.0          2
2              3      2011-06-16     3.0          3         1  6.0          2
3              4      2012-08-26     1.0          2         3  3.0          6
4              5      2013-06-06     2.0          4         1  6.0          2

Handling dates

In [61]:
 df['TransactionDate'] =pd.to_datetime(df['TransactionDate'])

In [62]:
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo  NewColumn
0              1      2010-08-21     7.0          2         1  9.0          2
1              2      2011-05-26     3.0          4         1  7.0          2
2              3      2011-06-16     3.0          3         1  6.0          2
3              4      2012-08-26     1.0          2         3  3.0          6
4              5      2013-06-06     2.0          4         1  6.0          2

Exercise questions:

NameError: name 'mydf' is not defined

In [65]:
df

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo  NewColumn
0              1      2010-08-21     7.0          2         1   9.0          2
1              2      2011-05-26     3.0          4         1   7.0          2
2              3      2011-06-16     3.0          3         1   6.0          2
3              4      2012-08-26     1.0          2         3   3.0          6
4              5      2013-06-06     2.0          4         1   6.0          2
5              6      2013-12-23     2.0          5         6   7.0         12
6              7      2013-12-30     3.0          4         1   7.0          2
7              8      2014-04-24     NaN          2         3   NaN          6
8              9      2015-04-24     7.0          4         3  11.0          6
9             10      2016-05-08     3.0          4         4   7.0          8

In [66]:
print("shape of the dataframe(rows,columns)",df.shape)

shape of the dataframe(rows,columns) (10, 7)

In [67]:
print(len(df))

10

In [70]:
print(len(df.columns))

7

In [71]:
list(df.columns)

['TransactionID',
 'TransactionDate',
 'UserID',
 'ProductID',
 'Quantity',
 'Foo',
 'NewColumn']

In [4]:
list(df.index.tolist())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo  NewColumn
0              1      2010-08-21     7.0          2         1   9.0          2
1              2      2011-05-26     3.0          4         1   7.0          2
2              3      2011-06-16     3.0          3         1   6.0          2
3              4      2012-08-26     1.0          2         3   3.0          6
4              5      2013-06-06     2.0          4         1   6.0          2
5              6      2013-12-23     2.0          5         6   7.0         12
6              7      2013-12-30     3.0          4         1   7.0          2
7              8      2014-04-24     NaN          2         3   NaN          6
8              9      2015-04-24     7.0          4         3  11.0          6
9             10      2016-05-08     3.0          4         4   7.0          8

In [75]:
import pandas as pd
df=pd.read_csv('/home/user/Downloads/transactions.csv')
df.rename(columns={"Quantity":"Quant"},inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [76]:
import pandas as pd
df=pd.read_csv('/home/user/Downloads/transactions.csv')
df.rename(columns={"ProductID":"PID","UserID":"UID"},inplace=True)
print(df.head())

   TransactionID TransactionDate  UID  PID  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
3              4      2012-08-26  1.0    2         3
4              5      2013-06-06  2.0    4         1

In [82]:
import pandas as pd
df=pd.read_csv('/home/user/Downloads/transactions.csv')
df_sorted=df.sort_values(by=["Quantity","TransactionID"],
                         ascending=[True,False])
print(df_sorted.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1

In [5]:
df=df[['ProductID','Quant','TransactionDate','TransactionID','UserID']]
print(df.head())

   ProductID  Quant TransactionDate  TransactionID  UserID
0          2      1      2010-08-21              1     7.0
1          4      1      2011-05-26              2     3.0
2          3      1      2011-06-16              3     3.0
3          2      3      2012-08-26              4     1.0
4          4      1      2013-06-06              5     2.0

In [8]:
df=df[['UserID','ProductID','Quant','TransactionDate','TransactionID']]
print(df.head())

   UserID  ProductID  Quant TransactionDate  TransactionID
0     7.0          2      1      2010-08-21              1
1     3.0          4      1      2011-05-26              2
2     3.0          3      1      2011-06-16              3
3     1.0          2      3      2012-08-26              4
4     2.0          4      1      2013-06-06              5

In [87]:
df[pd.unique(['ProductID']+df.columns.values.tolist()).tolist()]
df

/tmp/ipykernel_4427/1346479352.py:1: FutureWarning: unique with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  df[pd.unique(['ProductID']+df.columns.values.tolist()).tolist()]

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [91]:
cols = pd.unique(['ProductID']+df.columns.values.tolist())

/tmp/ipykernel_4427/3251981379.py:1: FutureWarning: unique with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  cols = pd.unique(['ProductID']+df.columns.values.tolist())

In [92]:
df[cols]

   ProductID  TransactionID TransactionDate  UserID  Quantity
0          2              1      2010-08-21     7.0         1
1          4              2      2011-05-26     3.0         1
2          3              3      2011-06-16     3.0         1
3          2              4      2012-08-26     1.0         3
4          4              5      2013-06-06     2.0         1
5          5              6      2013-12-23     2.0         6
6          4              7      2013-12-30     3.0         1
7          2              8      2014-04-24     NaN         3
8          4              9      2015-04-24     7.0         3
9          4             10      2016-05-08     3.0         4

In [95]:
cols=pd.unique(['ProductID','Quantity', 'TransactionDate', 'TransactionID', 'UserID']+df.columns.values.tolist())

/tmp/ipykernel_4427/2180753589.py:1: FutureWarning: unique with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  cols=pd.unique(['ProductID','Quantity', 'TransactionDate', 'TransactionID', 'UserID']+df.columns.values.tolist())

In [96]:
df[cols]

   ProductID  Quantity TransactionDate  TransactionID  UserID
0          2         1      2010-08-21              1     7.0
1          4         1      2011-05-26              2     3.0
2          3         1      2011-06-16              3     3.0
3          2         3      2012-08-26              4     1.0
4          4         1      2013-06-06              5     2.0
5          5         6      2013-12-23              6     2.0
6          4         1      2013-12-30              7     3.0
7          2         3      2014-04-24              8     NaN
8          4         3      2015-04-24              9     7.0
9          4         4      2016-05-08             10     3.0

In [97]:
df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [99]:
cols=pd.unique(['ProductID','Quantity', 'TransactionDate', 'TransactionID', 'UserID']+df.columns.values.tolist())

/tmp/ipykernel_4427/2180753589.py:1: FutureWarning: unique with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  cols=pd.unique(['ProductID','Quantity', 'TransactionDate', 'TransactionID', 'UserID']+df.columns.values.tolist())

In [100]:
df[cols]

   ProductID  Quantity TransactionDate  TransactionID  UserID
0          2         1      2010-08-21              1     7.0
1          4         1      2011-05-26              2     3.0
2          3         1      2011-06-16              3     3.0
3          2         3      2012-08-26              4     1.0
4          4         1      2013-06-06              5     2.0
5          5         6      2013-12-23              6     2.0
6          4         1      2013-12-30              7     3.0
7          2         3      2014-04-24              8     NaN
8          4         3      2015-04-24              9     7.0
9          4         4      2016-05-08             10     3.0

In [101]:
cols = pd.unique(['UserID']+df.columns.values.tolist())

/tmp/ipykernel_4427/3014160616.py:1: FutureWarning: unique with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  cols = pd.unique(['UserID']+df.columns.values.tolist())

In [102]:
df[cols]

   UserID  TransactionID TransactionDate  ProductID  Quantity
0     7.0              1      2010-08-21          2         1
1     3.0              2      2011-05-26          4         1
2     3.0              3      2011-06-16          3         1
3     1.0              4      2012-08-26          2         3
4     2.0              5      2013-06-06          4         1
5     2.0              6      2013-12-23          5         6
6     3.0              7      2013-12-30          4         1
7     NaN              8      2014-04-24          2         3
8     7.0              9      2015-04-24          4         3
9     3.0             10      2016-05-08          4         4

In [1]:
second_column = df.iloc[:, 1]  # Returns a Series
second_column_array = df.iloc[:, 1].values  # Returns a NumPy array

print(second_column)  # Pandas Series
print(second_column_array)  # NumPy array

NameError: name 'df' is not defined

In [2]:
import pandas as pd
df=pd.read_csv('/home/user/Downloads/transactions.csv')

In [3]:
second_column = df.iloc[:, 1]  # Returns a Series
second_column_array = df.iloc[:, 1].values  # Returns a NumPy array

print(second_column)  # Pandas Series
print(second_column_array)  # NumPy array

0    2010-08-21
1    2011-05-26
2    2011-06-16
3    2012-08-26
4    2013-06-06
5    2013-12-23
6    2013-12-30
7    2014-04-24
8    2015-04-24
9    2016-05-08
Name: TransactionDate, dtype: object
['2010-08-21' '2011-05-26' '2011-06-16' '2012-08-26' '2013-06-06'
 '2013-12-23' '2013-12-30' '2014-04-24' '2015-04-24' '2016-05-08']

In [1]:
df

NameError: name 'df' is not defined

In [6]:
product=df.iloc[:,3].values
print(product);

[2 4 3 2 4 5 4 2 4 4]

In [7]:
subset_rows = df.iloc[[1,3,6]]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
6              7      2013-12-30     3.0          4         1

In [8]:
subset_rows = df.iloc[[0, 1,2]]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

In [19]:
subset_rows = df.iloc[[8,9]]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [14]:
subset_rows = df.drop(index=[8])
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3

In [17]:
subset_rows = df.iloc[:-2]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3

In [20]:
subset_rows = df.iloc[:-3]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1

In [22]:
subset = df[df['Quantity'] > 1]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [29]:
subset = df[(df["Quantity"] > 1) & (df["UserID"] == 2)]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

In [30]:
subset = df[(df["Quantity"] + df["UserID"])>3]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [31]:
foo = [True, False, True, False] # Example of a boolean array
subset_rows = df[foo]
print(subset_rows)

ValueError: Item wrong length 4 instead of 10.

In [32]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {'A': [10, 20, 30, 40, 50], 'B': [100, 200, 300, 400, 500]}
df = pd.DataFrame(data)

# External Boolean array
foo = np.array([True, False, True, False, True])

# Subset rows where foo is True
subset_rows = df[foo]

print(subset_rows)

    A    B
0  10  100
2  30  300
4  50  500

In [33]:
bar = np.array([1, -2, 3, -4, 5])  # Only keep rows where bar > 0

# Subset rows where bar is positive
subset_rows = df[bar > 0]

print(subset_rows)

    A    B
0  10  100
2  30  300
4  50  500

In [34]:
bar = np.array([1, -2, 3, -4, 5])  # Only keep rows where bar > 0

# Subset rows where bar is positive
subset_rows = df[bar <0]

print(subset_rows)

    A    B
1  20  200
3  40  400

In [38]:
subset_columns = df.iloc[:, [1, 3]]

print(subset_columns)

  TransactionDate  ProductID
0      2010-08-21          2
1      2011-05-26          4
2      2011-06-16          3
3      2012-08-26          2
4      2013-06-06          4
5      2013-12-23          5
6      2013-12-30          4
7      2014-04-24          2
8      2015-04-24          4
9      2016-05-08          4

In [37]:
import pandas as pd
df=pd.read_csv('/home/user/Downloads/transactions.csv')

In [39]:
columns_to_select = ['TransactionID', 'TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [41]:
subset = df[df['Quantity'] > 1][['TransactionID',
'TransactionDate']]
print(subset)

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [42]:
columns_to_select = ['TransactionID', 'TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [43]:
columns_to_exclude = ['Quantity', 'ProductID']
subset_columns_excluded = df[[col for col in df.columns if col not
in columns_to_exclude]]
print(subset_columns_excluded)

   TransactionID TransactionDate  UserID
0              1      2010-08-21     7.0
1              2      2011-05-26     3.0
2              3      2011-06-16     3.0
3              4      2012-08-26     1.0
4              5      2013-06-06     2.0
5              6      2013-12-23     2.0
6              7      2013-12-30     3.0
7              8      2014-04-24     NaN
8              9      2015-04-24     7.0
9             10      2016-05-08     3.0

In [44]:
df['Foo'] = df['UserID'] + df['ProductID']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo
0              1      2010-08-21     7.0          2         1  9.0
1              2      2011-05-26     3.0          4         1  7.0
2              3      2011-06-16     3.0          3         1  6.0
3              4      2012-08-26     1.0          2         3  3.0
4              5      2013-06-06     2.0          4         1  6.0

In [45]:
df.loc[df['UserID'] == 2, 'Quantity'] = new_quantity_value

NameError: name 'new_quantity_value' is not defined

In [46]:
df.loc[len(df)] = [new_user_id, new_product_id, new_quantity,
new_transaction_date]

NameError: name 'new_user_id' is not defined

In [47]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
Foo                       float64
dtype: object

In [48]:
df['new_user_id'] = df['UserID']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo  \
0              1      2010-08-21     7.0          2         1  9.0
1              2      2011-05-26     3.0          4         1  7.0
2              3      2011-06-16     3.0          3         1  6.0
3              4      2012-08-26     1.0          2         3  3.0
4              5      2013-06-06     2.0          4         1  6.0

   new_user_id
0          7.0
1          3.0
2          3.0
3          1.0
4          2.0

In [49]:
df.loc[df['UserID'] == 2, 'Quantity'] = new_quantity_value

NameError: name 'new_quantity_value' is not defined

In [3]:
df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4